* text=auto !eol
DSP/fft.cpp -text
DSP/fft.h -text
DSP/fftbasic.cpp -text
DSP/fftbasic.h -text
DSP/fftw.cpp -text
DSP/fftw.h -text
Decoders/fldigifilters.cpp -text
Decoders/fldigifilters.h -text
Devices/ElektorSDR.cpp -text
Devices/ElektorSDR.h -text
Devices/SDR_IQ.cpp -text
Devices/SDR_IQ.h -text
Devices/SoftRock.cpp -text
Devices/SoftRock.h -text
Devices/funcube.cpp -text
Devices/funcube.h -text
Devices/hpsdr.cpp -text
Devices/hpsdr.h -text
Devices/sdr-ip/ad6620.cpp -text
Devices/sdr-ip/ad6620.h -text
Devices/sdr-ip/protocoldefs.h -text
Devices/sdr-ip/sdrinterface.cpp -text
Devices/sdr-ip/sdrinterface.h -text
Devices/sdr_ip.cpp -text
Devices/sdr_ip.h -text
Devices/usb.h -text
Devices/wavfile.cpp -text
Devices/wavfile.h -text
HPSDR/Ozy_Janus.rbf -text
References/CuteSDR102.pdf -text
Resources/Pebble.icns -text
Resources/edit.png -text
/SignalStrength.cpp -text
/SignalStrength.h -text
/SoftRockOptions.ui -text
/SoundCard.cpp -text
/SoundCard.h -text
/agc.cpp -text
/agc.h -text
/audio.cpp -text
/audio.h -text
/audioqt.cpp -text
/audioqt.h -text
/bargraphmeter.cpp -text
/bargraphmeter.h -text
/bargraphmeter.ui -text
/build.tmpl -text
/butterworth.cpp -text
/butterworth.h -text
/codingstyle.txt -text
/cpx.cpp -text
/cpx.h -text
/data-morse.ui -text
/defs.h -text
/demod.cpp -text
/demod.h -text
/directinput.ui -text
/elektoroptions.ui -text
/firfilter.cpp -text
/firfilter.h -text
/firmware.txt -text
/ftd2xx.h -text
/funcubeoptions.ui -text
/global.cpp -text
/global.h -text
/gpl.h -text
/help.htm -text
/hpsdrOptions.ui -text
/iirfilter.cpp -text
/iirfilter.h -text
/iqbalance.cpp -text
/iqbalance.h -text
/iqbalanceoptions.ui -text
/main.cpp -text
/mixer.cpp -text
/mixer.h -text
/nco.cpp -text
/nco.h -text
/noiseblanker.cpp -text
/noiseblanker.h -text
/noisefilter.cpp -text
/noisefilter.h -text
/pebble.qss -text
/pebbleii.cpp -text
/pebbleii.h -text
/pebbleii.ui -text
/pebbleqt.pro -text
/portaudio.h -text
/portaudio.lib -text
/presets.cpp -text
/presets.h -text
/presets.ui -text
/receiver.cpp -text
/receiver.h -text
/receiverwidget.cpp -text
/receiverwidget.h -text
/receiverwidget.ui -text
/releasenotes.txt -text
/sdr-ip.ui -text
/sdr.cpp -text
/sdr.h -text
/sdr.ui -text
/sdriqoptions.ui -text
/settings.cpp -text
/settings.h -text
/signalprocessing.cpp -text
/signalprocessing.h -text
/signalspectrum.cpp -text
/signalspectrum.h -text
/smeterwidget.cpp -text
/smeterwidget.h -text
/smeterwidget.ui -text
/spectrumwidget.cpp -text
/spectrumwidget.h -text
/spectrumwidget.ui -text
