* text=auto !eol
D2XX/Object/10.4/i386/libftd2xx.1.2.2.dylib -text
D2XX/Object/10.4/ppc/libftd2xx.1.2.2.dylib -text
D2XX/Object/10.5-10.7/i386/libftd2xx.1.2.2.dylib -text
D2XX/Object/10.5-10.7/ppc/libftd2xx.1.2.2.dylib -text
D2XX/Object/10.5-10.7/x86_64/libftd2xx.1.2.2.dylib -text
D2XX/Samples/BitMode/bitmode -text
D2XX/Samples/EEPROM/read/read -text
D2XX/Samples/EEPROM/user/read/ua_data.bin -text svneol=unset#application/octet-stream
D2XX/Samples/loopback/loopback -text
D2XX/Samples/write/write-test -text
D2XX/bin/10.4/libftd2xx.1.2.2.dylib -text
D2XX/bin/10.5-10.7/libftd2xx.1.2.2.dylib -text
application/agc.cpp -text
application/agc.h -text
application/audio.cpp -text
application/audio.h -text
application/audioqt.cpp -text
application/audioqt.h -text
application/bargraphmeter.cpp -text
application/bargraphmeter.h -text
application/bargraphmeter.ui -text
application/build.tmpl -text
application/butterworth.cpp -text
application/butterworth.h -text
application/codingstyle.txt -text
application/cpx.cpp -text
application/cpx.h -text
application/data-band.ui -text
application/data-morse.ui -text
application/decoders/fldigifilters.cpp -text
application/decoders/fldigifilters.h -text
application/decoders/rtty/rtty.cpp -text
application/decoders/rtty/rtty.h -text
application/defs.h -text
application/demod.cpp -text
application/demod.h -text
application/demod/demod_am.cpp -text
application/demod/demod_am.h -text
application/demod/demod_nfm.cpp -text
application/demod/demod_nfm.h -text
application/demod/demod_sam.cpp -text
application/demod/demod_sam.h -text
application/devices/elektorsdr.cpp -text
application/devices/elektorsdr.h -text
application/devices/funcube.cpp -text
application/devices/funcube.h -text
application/devices/hpsdr.cpp -text
application/devices/hpsdr.h -text
application/devices/sdr-ip/ad6620.cpp -text
application/devices/sdr-ip/ad6620.h -text
application/devices/sdr-ip/protocoldefs.h -text
application/devices/sdr-ip/sdrinterface.cpp -text
application/devices/sdr-ip/sdrinterface.h -text
application/devices/sdr_ip.cpp -text
application/devices/sdr_ip.h -text
application/devices/sdr_iq.cpp -text
application/devices/sdr_iq.h -text
application/devices/softrock.cpp -text
application/devices/softrock.h -text
application/devices/usb.h -text
application/devices/wavfile.cpp -text
application/devices/wavfile.h -text
application/digital_modem_interfaces.h -text
application/directinput.ui -text
application/dsp/fft.cpp -text
application/dsp/fft.h -text
application/dsp/fftbasic.cpp -text
application/dsp/fftbasic.h -text
application/dsp/fftw.cpp -text
application/dsp/fftw.h -text
application/elektoroptions.ui -text
application/firfilter.cpp -text
application/firfilter.h -text
application/firmware.txt -text
application/ftd2xx.h -text
application/funcubeoptions.ui -text
application/global.cpp -text
application/global.h -text
application/gpl.h -text
application/help.htm -text
application/hpsdr/ozy_janus.rbf -text
application/hpsdr/ozy_janus_v1.7.rbf -text
application/hpsdr/ozy_janus_v2.5.rbf -text
application/hpsdrOptions.ui -text
application/iirfilter.cpp -text
application/iirfilter.h -text
application/iqbalance.cpp -text
application/iqbalance.h -text
application/iqbalanceoptions.ui -text
application/main.cpp -text
application/mixer.cpp -text
application/mixer.h -text
application/nco.cpp -text
application/nco.h -text
application/noiseblanker.cpp -text
application/noiseblanker.h -text
application/noisefilter.cpp -text
application/noisefilter.h -text
application/pebble[!!-~]icon.sketch/Data -text
application/pebble[!!-~]icon.sketch/QuickLook/Preview.png -text
application/pebble[!!-~]icon.sketch/QuickLook/Thumbnail.png -text
application/pebble.qss -text
application/pebbleii.cpp -text
application/pebbleii.h -text
application/pebbleii.ui -text
application/pebbleqt.pri -text
application/pebbleqt.pro -text
application/plugins.cpp -text
application/plugins.h -text
application/portaudio.h -text
application/portaudio.lib -text
application/presets.cpp -text
application/presets.h -text
application/presets.ui -text
application/receiver.cpp -text
application/receiver.h -text
application/receiverwidget.cpp -text
application/receiverwidget.h -text
application/receiverwidget.ui -text
application/references/cutesdr102.pdf -text
application/releasenotes.txt -text
application/resources/edit.png -text
application/resources/pebble.icns -text
application/sdr-ip.ui -text
application/sdr.cpp -text
application/sdr.h -text
application/sdr.ui -text
application/sdriqoptions.ui -text
application/settings.cpp -text
application/settings.h -text
application/signalprocessing.cpp -text
application/signalprocessing.h -text
application/signalspectrum.cpp -text
application/signalspectrum.h -text
application/signalstrength.cpp -text
application/signalstrength.h -text
application/smeterwidget.cpp -text
application/smeterwidget.h -text
application/smeterwidget.ui -text
application/softrockoptions.ui -text
application/soundcard.cpp -text
application/soundcard.h -text
application/spectrumwidget.cpp -text
application/spectrumwidget.h -text
application/spectrumwidget.ui -text
fftw-3.3.3/doc/equation-dft.png -text
fftw-3.3.3/doc/equation-dht.png -text
fftw-3.3.3/doc/equation-idft.png -text
fftw-3.3.3/doc/equation-redft00.png -text
fftw-3.3.3/doc/equation-redft01.png -text
fftw-3.3.3/doc/equation-redft10.png -text
fftw-3.3.3/doc/equation-redft11.png -text
fftw-3.3.3/doc/equation-rodft00.png -text
fftw-3.3.3/doc/equation-rodft01.png -text
fftw-3.3.3/doc/equation-rodft10.png -text
fftw-3.3.3/doc/equation-rodft11.png -text
fftw-3.3.3/doc/fftw3.info-2 svneol=native#unset
fftw-3.3.3/doc/fftw3.pdf -text
fftw-3.3.3/doc/html/equation-dft.png -text
fftw-3.3.3/doc/html/equation-dht.png -text
fftw-3.3.3/doc/html/equation-idft.png -text
fftw-3.3.3/doc/html/equation-redft00.png -text
fftw-3.3.3/doc/html/equation-redft01.png -text
fftw-3.3.3/doc/html/equation-redft10.png -text
fftw-3.3.3/doc/html/equation-redft11.png -text
fftw-3.3.3/doc/html/equation-rodft00.png -text
fftw-3.3.3/doc/html/equation-rodft01.png -text
fftw-3.3.3/doc/html/equation-rodft10.png -text
fftw-3.3.3/doc/html/equation-rodft11.png -text
fftw-3.3.3/doc/html/rfftwnd-for-html.png -text
fftw-3.3.3/doc/rfftwnd-for-html.png -text
fftw-3.3.3/doc/rfftwnd.pdf -text
fftw-3.3.3/tests/bench -text
fftw-3.3.3/tools/fftw-wisdom -text
plugins/DigitalModemExample/data-example.ui -text
portaudio/bindings/cpp/include/portaudiocpp/AsioDeviceAdapter.hxx -text
portaudio/bindings/cpp/source/portaudiocpp/AsioDeviceAdapter.cxx -text
portaudio/doc/src/images/portaudio-external-architecture-diagram.png -text
portaudio/src/hostapi/asio/Callback_adaptation_.pdf -text
portaudio/src/hostapi/asio/Pa_ASIO.pdf -text
portaudio/src/hostapi/oss/low_latency_tip.txt svneol=native#unset
portaudio/src/hostapi/wasapi/mingw-include/ksmedia.h -text
