* text=auto !eol
/AGC.cpp -text
/AGC.h -text
/Butterworth.cpp -text
/Butterworth.h -text
/Demod.cpp -text
/Demod.h -text
/ElektorOptions.ui -text
/ElektorSDR.cpp -text
/ElektorSDR.h -text
/FIRFilter.cpp -text
/FIRFilter.h -text
/Firmware.txt -text
/GPL.h -text
/Help.htm -text
/IIRFilter.cpp -text
/IIRFilter.h -text
/Mixer.cpp -text
/Mixer.h -text
/NCO.cpp -text
/NCO.h -text
/NoiseBlanker.cpp -text
/NoiseBlanker.h -text
/NoiseFilter.cpp -text
/NoiseFilter.h -text
/PebbleII.vcproj -text
/PebbleQt.pro -text
/PortAudio.lib -text
/Qt4VSPropertySheet.props -text
/Receiver.cpp -text
/Receiver.h -text
/ReceiverWidget.cpp -text
/ReceiverWidget.h -text
/ReceiverWidget.ui -text
/ReleaseNotes.txt -text
Resources/edit.png -text
/SDR.cpp -text
/SDR.h -text
/SDRIQOptions.ui -text
/SDR_IQ.cpp -text
/SDR_IQ.h -text
/Settings.cpp -text
/Settings.h -text
/Settings.ui -text
/SignalProcessing.cpp -text
/SignalProcessing.h -text
/SignalSpectrum.cpp -text
/SignalSpectrum.h -text
/SignalStrength.cpp -text
/SignalStrength.h -text
/SoftRock.cpp -text
/SoftRock.h -text
/SoftRockOptions.ui -text
/SoundCard.cpp -text
/SoundCard.h -text
/audio.cpp -text
/audio.h -text
/audioqt.cpp -text
/audioqt.h -text
/build.tmpl -text
/cpx.cpp -text
/cpx.h -text
/defs.h -text
/fftbasic.cpp -text
/fftbasic.h -text
/ftd2xx.h -text
/funcube.cpp -text
/funcube.h -text
/funcubeoptions.ui -text
/global.cpp -text
/global.h -text
/hpsdr.cpp -text
/hpsdr.h -text
/hpsdrOptions.ui -text
/iqbalance.cpp -text
/iqbalance.h -text
/iqbalanceoptions.ui -text
/main.cpp -text
/pebbleii.cpp -text
/pebbleii.h -text
/pebbleii.ui -text
/portaudio.h -text
/presets.cpp -text
/presets.csv -text
/presets.h -text
/presets.ui -text
/smeterwidget.cpp -text
/smeterwidget.h -text
/smeterwidget.ui -text
/spectrumwidget.cpp -text
/spectrumwidget.h -text
/spectrumwidget.ui -text
/usb.h -text
