/MacDebug/
/MacRelease/

/fftw-3.3.3/.libs/
/portaudio/bin/.libs/
/portaudio/autom4te.cache/
/portaudio/bindings/cpp/autom4te.cache/
/portaudio/compile
/portaudio/lib/

application/*MacDebug/
application/*MacRelease/

pebblelib/*MacDebug/
pebblelib/*MacRelease/

plugins/DigitalModemExample/*MacDebug/
plugins/DigitalModemExample/*MacRelease/

plugins/MorseDigitalModem/*MacDebug/
plugins/MorseDigitalModem/*MacRelease/

plugins/RttyDigitalModem/*MacDebug/
plugins/RttyDigitalModem/*MacRelease/

plugins/WWVDigitalModem/*MacDebug/
plugins/WWVDigitalModem/*MacRelease/
