/MacDebug
/MacMoc
/MacO
/MocMac
/OMac
/UI
application/MocMac
application/OMac
application/UI
pebblelib/MocMac
pebblelib/OMac
pebblelib/lib
plugins/DigitalModemExample/build-DigitalModemExample-Desktop_Qt_5_1_0_clang_64bit-Debug
plugins/RttyDigitalModem/MocMac
plugins/RttyDigitalModem/OMac
plugins/RttyDigitalModem/UI
plugins/WWVDigitalModem/MocMac
plugins/WWVDigitalModem/OMac
plugins/WWVDigitalModem/UI
